<template>
	<div class="card mt-3">
		<div class="card-body">
			<div class="card-title">
			<h3>Chat Group</h3>
			<hr>
			</div>
			<div class="card-body">
				<div class="messages" v-for="(msg, index) in messages" :key="index">
					<p><span class="font-weight-bold">{{ msg.user }}: </span>{{ msg.message }}</p>
				</div>
				<div v-if="typing">
					<p>{{ writing }} is typing a message...</p>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<form @submit.prevent="sendMessage">
				<div class="gorm-group">
					<label for="user">User:</label>
					<input type="text" v-model="user" class="form-control">
				</div>
				<div class="gorm-group pb-3">
					<label for="message">Message:</label>
					<input type="text" v-model="message" class="form-control" @change="writingMessage">
				</div>
				<button type="submit" class="btn btn-success">Send</button>
			</form>
		</div>
	</div>
</template>

<script>
import io from 'socket.io-client';
export default {
    data() {
        return {
            user: '',
            message: '',
			messages: [],
			writing: '',
			typing: false,
            socket : io('localhost:4444')
        }
    },
    methods: {
        sendMessage(e) {
            e.preventDefault();
            
            this.socket.emit('SEND_MESSAGE', {
                user: this.user,
                message: this.message
            });
            this.message = '';
		},
		
		writingMessage() {
			this.socket.emit('WRITING_MESSAGE', this.user);
		}
    },
    mounted() {
        this.socket.on('MESSAGE', (data) => {
			this.messages.push(data);
			this.typing = false;
		});
		this.socket.on('WRITING_MESSAGE', (data) => {
			this.typing = true;
			this.writing = data;
		})
    }
}
</script>